* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

#galaxy {
    position: fixed;
    top: 0;
    left: 0;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    text-align: center;
    color: white;
    background: rgba(20, 10, 40, 0.45);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.15);
box-shadow: 0 0 40px rgba(255, 102, 204, 0.25);

    transition: transform 0.8s ease, box-shadow 0.8s ease;
transform-origin: center;
    transition: opacity 0.8s ease;
cursor: pointer;
    }
.card.minimized {
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: none;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    opacity: 0.9;
    transition: all 0.6s ease;
    z-index: 999;
}
button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#message {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 20px;
    transition: all 0.8s ease;
    transform: translateY(-20px);
}

#message.show {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}
#message h2{
    color:#ff99dd;
    margin-bottom:15px;
}

#message p{
    margin-top:12px;
    line-height:1.6;
    font-size:18px;
}
#photos{
    position:fixed;
    inset:0;
    pointer-events:none;
}

.photo{
    position:absolute;
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid rgba(255,255,255,.8);
    box-shadow:0 0 20px rgba(255,150,220,.5);
    cursor:pointer;
    pointer-events:auto;
    transition:.4s;
}

.photo:hover{
    transform:scale(1.15);
}

#photoText{
    position:fixed;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
    color:white;
    font-size:22px;
    text-shadow:0 0 10px black;
}

#showCard {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    background: rgba(255, 102, 204, 0.8);
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 25px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    display: none;
    z-index: 1000;
    transition: all 0.3s ease;
}

#showCard:hover {
    transform: scale(1.05);
    background: rgba(255, 102, 204, 1);
}
